.container {
    width: 100%;
    position: relative;
}

/* Navigation Bar */
.navigation {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    z-index: 1;
    width: auto;
    padding: 10px;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Spacing between menu items */
}

.navigation li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        align-items: center;
    }
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background-image: url('../../public/assets/login-background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */
.project {
    position:relative;
    top : 100px;
    left : 150px;
    bottom : 150px;
    height : fit-content;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    padding: 20px;
    border: 1px solid black; /* Ensure border is visible */
    box-sizing: border-box;
    border-radius:10px;
    z-index: 100; /* Include padding and border in width/height */
    /* box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7); */
    /* display: flex; */
}
#p {
    height: 250px;
    float: right;
    /* z-index: 10;*/
    position: relative;
    right:0px;
    top:0px
    
}
.b{
    align-content: center;
}
a{
    text-decoration: none;
}
.leaf {
    position: absolute;
    top: -50px;
    /* Start just above the viewport */
    font-size: 2rem;
    /* Adjust size as needed */
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(100vh);
    }
}