/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* Container */
.container {
    width: 100%;
    position: relative;
}

/* Hero Section */
.about {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    padding: 50px 20px;
    background:url("../assets/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 0;

}

.about p {
    margin-top: 10px;
    font-size: 18px;
}

/* About Us Section */
.aboutus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 70%; /* Adjusted for a more balanced layout */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutus div {
    flex: 1;
    padding-right: 20px;
}

.aboutus img {
    flex: 1;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    /* width: 200px; */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .about {
        padding: 30px 10px;
    }

    .aboutus {
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }

    .aboutus div {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .aboutus img {
        width: 80%;
    }
}

/* Styling for the empty button */
.empty-button {
    background: none; /* Removes default button background */
    border: none; /* Removes default button border */
    color: #000306; /* Button text color */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Changes cursor to pointer */
    padding: 0; /* Removes default button padding */
    margin-left: 10px; /* Spacing from other elements */
    text-decoration: none; /* Removes underline */
}

.empty-button:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: #0056b3; /* Darker shade for hover effect */
}
